{% parse_json field_headings %}
  {
    "Column 1": "name",
    "Column 2": "slug"
  }
{% endparse_json %}
{% comment %} ---Settings--- {% endcomment %}
{% comment %} ------ Webapp Parent Category ------ {% endcomment %}
{% comment %} Default (null) is to show all categories in the filter. Alternatively, pass in an id (in quotes e.g. '6') for a category which is the parent of WebApp categories to only show relevant categories. {% endcomment %}
{% assign webapp_parent_category = null %}
{% comment %}------Set filter default values from URL------
Boolean, if true any sidebar filters will set their initial values from the URL on page load. Useful if returning to the list view from a filter in the detail page. Note we wouldn't normally recommend having more than one live update layout on the page with this setting set to true. If you are setting this value, you may remove the if statement, this is just to set a default.{% endcomment %}
{% if _use_adv_search == 'true' or _use_search == 'true' %}
  {% assign filters_values_from_URL = true %}
{% endif %}
{% comment %} --- End Settings --- {% endcomment %}
{% function table_config = "modules/module_86/front_end/functions/v1/get_table_config", model: _model, id: id, field_headings: field_headings %}
{% function public_key = "modules/module_86/front_end/functions/v1/live_update_params_encode", layout: layout, model: _model, creator_id: creator_id %}
{% if params.sitebuilder_uniq_component_id %}
  {% assign sitebuilder_uniq_component_id = params.sitebuilder_uniq_component_id %}
{% else %}
  {% capture sitebuilder_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}
{% endif %}
<section id="{{sitebuilder_uniq_component_id}}_table" data-sg-live-update-section="{{sitebuilder_uniq_component_id}}" data-sg-live-update-key="{{public_key}}" {% if filters_values_from_URL == true %}data-sg-live-update-modify-history-enabled="true" data-sg-live-update-modify-history-include-hidden-fields="false" {% endif %} class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
  <div class="mx-auto {% unless field_headings.size > 8 %} px-4 lg:px-12{% endunless %} {% unless field_headings.size > 10 %}max-w-screen-xl{% endunless %}">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg min-h-screen-md">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
        <div class="w-full md:w-1/2">
          <form data-sg-live-update-controls="search" class="flex items-center">
            <input type="hidden" name="sitebuilder_uniq_component_id" value="{{sitebuilder_uniq_component_id}}">
            <label class="relative w-full">
              <span class="sr-only">Search</span>
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </div>
              <input type="text" name="keyword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
            </label>
          </form>
        </div>
        <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
          <a href="/modules/module_145/preview-ui/create?auth={{params.auth}}" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
            </svg>
            Add item
          </a>
          {% for heading in field_headings %}
            {% if heading[0] contains "Filter" %}
              {% if heading[1] == "category_array" %}
                <div class="flex items-center space-x-3 w-full md:w-auto">
                  <button id="categoryDropdown{{sitebuilder_uniq_component_id}}Button" data-dropdown-toggle="categoryDropdown{{sitebuilder_uniq_component_id}}" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                    </svg>
                    Category
                    <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                    </svg>
                  </button>
                  <div data-sg-live-update-controls="category" id="categoryDropdown{{sitebuilder_uniq_component_id}}" class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                    <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Choose category</h6>
                    <ul class="space-y-2 text-sm" aria-labelledby="categoryDropdown{{sitebuilder_uniq_component_id}}Button">
                      {% for category in context.exports.categories.items %}
                        {% if category[1].parent == webapp_parent_category or webapp_parent_category == blank %}
                          <li class="flex items-center">
                            <label>
                              <input type="checkbox" name="category" value="{{category[0]}}" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                              <span class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">{{category[1].name}}</span>
                            </label>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% else %}
                {% if table_config.custom_fields[heading[1]].name != blank %}
                  {% assign column_heading = table_config.custom_fields[heading[1]].name %}
                  {% assign options = table_config.custom_fields[heading[1]].options | split: "," %}
                {% else %}
                  {% assign column_heading = heading[1] | titleize %}
                  {% assign options = table_config.system_fields[heading[1]].options | split: "," %}
                {% endif %}
                <div class="flex items-center space-x-3 w-full md:w-auto">
                  <button id="filter{{heading[0]}}{{sitebuilder_uniq_component_id}}Button" data-dropdown-toggle="filter{{heading[0]}}{{sitebuilder_uniq_component_id}}" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                    </svg>
                    {{column_heading}}
                    <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                    </svg>
                  </button>
                  <div data-sg-live-update-controls="{{column_heading}}" id="filter{{heading[0]}}{{sitebuilder_uniq_component_id}}" class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                    {% comment %} This controls filter strictness. {% endcomment %}
                    <input type="hidden" name="{{heading[1]}}_match_type" value="OR">
                    <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Choose {{column_heading}}</h6>
                    <ul class="space-y-2 text-sm" aria-labelledby="filter{{heading[0]}}{{sitebuilder_uniq_component_id}}Button">
                      {% for option in options %}
                        <li class="flex items-center">
                          <label>
                            <input type="checkbox" name="{{heading[1]}}" value="{{option}}" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <span class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">{{option | titleize}}</span>
                          </label>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="overflow-auto min-h-screen-md">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead data-sg-live-update-controls="sort" class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              {% for field in field_headings %}
                {% if field[0] contains "Filter" %}
                  {% continue %}
                {% endif %}
                {% if table_config.custom_fields[field[1]].name != blank %}
                  {% assign column_heading = table_config.custom_fields[field[1]].name %}
                  {% assign column_type = table_config.custom_fields[field[1]].type %}
                {% else %}
                  {% assign column_heading = field[1] | replace: "category_array", "Categories" | titleize %}
                  {% assign column_type = table_config.system_fields[field[1]].type %}
                {% endif %}
                <th scope="col" class="px-4 py-3 text-left">
                  <div class="flex items-center justify-center">
                    <span>{{column_heading}}</span>
                    {% case column_type %}
                    {% when "string" or "input_text" or "input_radio" or "select" or "date" or "number_integer" or "number_float" or "boolean" or "integer" %}
                    <button data-sg-live-update-sort-order="unsorted" data-sg-live-update-sort-type="{% unless field[1] == 'id' or field[1] == 'created_at' or field[1] == 'updated_at' or field[1] == 'deleted_at' or field[1] == 'external_id' %}properties.{% endunless %}{{field[1]}}" type="button" class="ml-1">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd" d="M2.24 6.8a.75.75 0 001.06-.04l1.95-2.1v8.59a.75.75 0 001.5 0V4.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0L2.2 5.74a.75.75 0 00.04 1.06zm8 6.4a.75.75 0 00-.04 1.06l3.25 3.5a.75.75 0 001.1 0l3.25-3.5a.75.75 0 10-1.1-1.02l-1.95 2.1V6.75a.75.75 0 00-1.5 0v8.59l-1.95-2.1a.75.75 0 00-1.06-.04z" clip-rule="evenodd" />
                      </svg>
                    </button>
                    {% endcase %}
                  </div>
                </th>
              {% endfor %}
              <th scope="col" class="px-4 py-3 text-left">
                <span class="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody data-sg-live-update-component="table_rows">
            {%- include 'modules/siteglide_system/get/get_items', item_layout: 'item' -%}
          </tbody>
        </table>
      </div>
      <div class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
        {% comment %} For screenreaders, this section will announce when filters change the number of results. {% endcomment %}
        <div aria-live="polite">
          <div data-sg-live-update-component="total_results">
            {% capture exports_key %}webapp_{{id}}{% endcapture %}
            {% assign per_page = per_page | default: context.params.per_page | default: 20 %}
            {% assign total_entries = context.exports[exports_key].data.result.total_entries %}
            {% assign total_pages = total_entries | plus: 0.0 | divided_by: per_page | ceil %}
            {% assign current_page = context.params.page | default: 1 %}
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
              Showing Page
              <span class="font-semibold text-gray-900 dark:text-white">{{current_page}}</span>
              of
              <span class="font-semibold text-gray-900 dark:text-white">{{total_pages}}</span>
            </span>
          </div>
        </div>
        <form class="flex flex-wrap space-x-2 space-y-2 items-center" data-sg-live-update-controls="per_page">
          <label for="rows" class="text-sm font-normal text-gray-500 dark:text-gray-400">
            Rows per page
          </label>
          <select name="per_page" id="rows" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block py-1.5 pl-3.5 pr-6 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option selected value="{{per_page}}">{{per_page}}</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </form>
        <div class="-my-8">
          {% include "modules/module_86/front_end/includes/v1/pagination", live_updates: 'true', lock_per_page: 'false' %}
        </div>
      </div>
    </div>
  </div>
  <div data-sg-live-update-component="delete_modals">
    {%- include 'modules/siteglide_system/get/get_items', item_layout: 'delete_modal' -%}
  </div>
</section>

<script>
  /*Rehydrate Flowbite JS elements after a live-update. This is only needed for elements within the live-updated area e.g. dropdowns in final column. Modals which will need re-hydrating need programtically creating from the start to avoid library errors.*/
  document.addEventListener('DOMContentLoaded', function() {
    var flowbiteScriptTag = document.querySelector(`script[src~='flowbite.min.js']`);
    if(typeof Modal === "function") {
      setupTable{{sitebuilder_uniq_component_id}}();
    } else {
      flowbiteScriptTag.addEventListener('load', setupTable{{sitebuilder_uniq_component_id}})
    }
    function setupTable{{sitebuilder_uniq_component_id}}() {
      var element = document.querySelector('#{{sitebuilder_uniq_component_id}}_table');
      element.addEventListener('live_update_end', function(event) {
        var dropdownBtns = element.querySelectorAll('td [data-dropdown-toggle]');
        dropdownBtns.forEach(function(btn) {
          var target = btn.dataset.dropdownToggle;
          var targetEl = element.querySelector(`#${target}`);
          const dropdownInstance = new Dropdown(targetEl, btn, {});
        });
        initiateModals(element);
      });
      initiateModals(element);
    }
  });
  
  function initiateModals(element) {
    var modalBtns = element.querySelectorAll('td [data-modal-toggle-custom]');
    modalBtns.forEach(function(btn) {
      var target = btn.dataset.modalToggleCustom;
      var targetEl = element.querySelector(`#${target}`);
      const modalInstance = new Modal(targetEl, {});
      btn.addEventListener('click', function(event) {
        modalInstance.toggle();
      });
      var nested = targetEl.querySelectorAll('[data-modal-toggle-custom]');
      nested.forEach(function(nestedBtn) {
        nestedBtn.addEventListener('click', function(event) {
          modalInstance.hide();
        });
      })
    });
  }
</script>
{% include 'webapp_form', id: id, layout: layout, enabled: 'true' %}
{% if context.exports.sitebuilder.live_update_JS_loaded == blank %}
  <script async src="{{'modules/module_86/js/v1-4/sitegurus_live_update_javascript_api.min.js' | asset_url }}"></script>
  {% assign live_update_JS_loaded = true %}
  {% export live_update_JS_loaded, namespace: "sitebuilder" %}
{% endif %}
