<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- include 'modules/siteglide_system/constants' -%}
    {%- include 'modules/siteglide_system/siteglide_head' -%}
    <!-- JS -->
    {% comment %} <!-- Sitegurus SiteBuilder JS --> {% endcomment %}
    <script async src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Core -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js" integrity="sha512-sH8JPhKJUeA9PWk3eOcOl8U+lfZTgtBXD41q6cO/slwxGHCxKcW45K4oPCUhHG7NMB4mbKEddVmPuTXtpbCbFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Theme JS -->
    <script defer src="https://res.cloudinary.com/sitegurus/raw/upload/v1696337197/modules/module_133/js/soft-design-system.min.js" type="text/javascript"></script>
    <!-- SiteBuilder utilities -->
    <script async id="sitegurus_forms_javascript_api" src="{{'modules/module_86/js/sitegurus_forms_javascript_api.js' | asset_url}}" charset="utf-8"></script>
    {% comment %} <!-- End Sitegurus SiteBuilder JS --> {% endcomment %}
    <!-- Creative Tim Plugins - SiteBuilder notes:
    Note we are removing these by default to boost performance. If you wish to enable one throughout the site, you can add here. However, SiteBuilder layouts will be set up to dynamically include these scripts only when they are needed using server-side Liquid- this may mean that adding in the Page Template will cause a duplicate script in your site. We would recommend using the Liquid approach yourself. Also, when we include scripts, we will use defer or async attr where possible, this may mean slightly different implementation than Creative Tim uses so that JS waits until scripts are loaded before executing. 
    -->
    <!-- Stylesheets -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{  'css/modules/module_86/soft-ui/soft-design-system.min.css' | asset_url}}">
    <link rel="stylesheet" type="text/css" href="{{  'css/modules/module_86/soft-ui/custom.css' | asset_url}}">
    <link rel="stylesheet" type="text/css" href="{{  'css/modules/module_86/soft-ui/nucleo-icons.css' | asset_url}}">
  </head>
  <body>
    <main>
      {{ content_for_layout }}
    </main>
  </body>
</html>